    .author {
        font-family: 'Boogaloo', cursive;
        font-size: 25px;
        font-style: italic;
        text-indent: 20%;
    }
    
    .submits {
        font-family: 'Orbitron', sans-serif;
        font-size: 15px;
        align-self: flex-end;
    }
    
    .posting {
        font-family: 'Nanum Myeongjo', serif;
        align-self: flex-end;
    }
    
    .votes {
        display: flex;
    }