<div>
    <p class="author"> ~ {{quote.author}}</p>
    <p class="submits">The quote was submitted by {{quote.submission}}</p>
    <p class="posting">Quote was posted on {{quote.posted|date}}</p>
    <div class="section2">
        <div class="votes">
            <button type="button" (click)=" quote.upvote=quote.upvote+1 " class="btn btn-primary btn-sm ">Upvotes <i class="fa fa-thumbs-up mx-2"></i><span class="badge badge-light">{{quote.upvote}}</span> </button>
            <button type="button" (click)=" quote.downvote=quote.downvote+1 " class="btn btn-warning btn-sm ">Downvotes <i class="fa fa-thumbs-down mx-2 text-danger"></i> <span class="badge badge-light">{{quote.downvote}}</span> </button>
            <br><br>
            <button class="btn btn-outline-danger" (click)="quoteDelete(true)">Delete</button>
        </div>
    </div>
</div>