<div class="container">
    <div class="jumbotron" style="background-color: purple;">
        <h1>The Number one quotes site.</h1>
        <p>Feel free to add onto our library the quotes that are most resounding to you.</p>
        <p>Have a chance to vote for the best quote and even get to delete those are are just outrightly terrible.</p>
        <h4 id="end1">
            <marquee behavior="" direction="bottom">
                <h2>Do have a lot of fun!!!</h2>
            </marquee>
        </h4>
    </div>
    <div class="row">
        <ul class="list-group my-4">
            <div class="column-mb-6">
                <li *ngFor='let quote of quotes;let i = index'>
                    <h4>{{quote.name}}</h4>
                    <app-quote-desc [quote]='quote ' (isDelete)="deleteQuote($event,i)"></app-quote-desc>
                </li>
            </div>
        </ul>
        <div class="col-mb-6 ">
            <app-quote-form (addQuote)="addNewQuote($event) "></app-quote-form>
        </div>
    </div>
</div>
